@keyframes ready-label {
  to {
    background-image: url('../images/label-janken.png');
  }
}

.ready {
  width: 480px;
  height: 80px;
  background-size: contain;
  background-image: url('../images/label-ready.png');
  animation-name: ready-label;
  animation-delay: 2s;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}
/* smart phone */
@media screen and (max-width: 600px) {
  .ready {
    width: 360px;
    height: 60px;
    background-size: cover;
  }
}
